<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjut.springbootprj.dao.AccountMapper">
    <resultMap id="AccountResultMap" type="com.zjut.springbootprj.pojo.Account">
        <association property="securityGuard" javaType="com.zjut.springbootprj.pojo.SecurityGuard" column="p_id" select="com.zjut.springbootprj.dao.SecurityGuardMapper.queryById">
        </association>
    </resultMap>

    <delete id="deleteByIds" parameterType="Integer">
        delete from account where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>