<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjut.springbootprj.dao.AppealMapper">
    <resultMap id="AppealResultMap" type="com.zjut.springbootprj.pojo.Appeal">
        <association property="danger" javaType="com.zjut.springbootprj.pojo.Danger" column="d_id" select="com.zjut.springbootprj.dao.DangerMapper.queryById">
        </association>
    </resultMap>

    <select id="queryDto" resultMap="AppealResultMap" parameterType="com.zjut.springbootprj.pojo.dto.AppealDto">
        select * from appeal
        left join danger on appeal.d_id=danger.id
        left join monitor on danger.m_id=monitor.id
        left join securityguard on securityguard.id=danger.p_id
        where 1=1
        <if test="time!=null">
            and appeal.time=#{time}
        </if>
        <if test="aId!=null">
            and monitor.a_id=#{aId}
        </if>
        <if test="type!=null and type!=''">
            and danger.type=#{type}
        </if>
        <if test="mId!=null">
            and danger.m_id=#{mId}
        </if>
        <if test="pName!=null and pName!=''">
            and securityguard.name=#{pName}
        </if>
        <if test="status!=null">
            and appeal.status=#{status}
        </if>
    </select>

    <delete id="deleteByIds" parameterType="Integer">
        delete from appeal where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>